{% extends 'base.html' %}

{% block content %}
    <div class="container p-3 col-md-8 mt-5">
        <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <td>Description</td>
                <td>Price</td>
                <td>Date</td>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}